/**/.vscode
/**/.vs
/**/*.suo
/**/*.user
/**/*.csproj.user
/**/*.userprefs
/**/*.vspscc
/**/*omnisharp.json

/**/bin/
/**/obj/

/**/packages/

/**/*.pdb
/**/*.dll.mdb
/**/*.exe.mdb
/**/*.log
/**/*.txt

/**/appsettings.json

/**/.DS_Store

/**/*.idea/
/**/*.iml
/**/*.ipr
/**/*.iws

/**/_ReShaper*/

/**/Thumbs.db
/**/ethumbs.db
/**/Desktop.ini
